<nav class="navbar">
    <ul class="navbar-left-container">
        <NavLink class="navbar-option" href="/">Home</NavLink>
    </ul>
    <ul class="navbar-right-container">
        <div class="navbar-admin-panel">
            <button class="navbar-admin-panel-button">Admin Panel</button>
            <div class="navbar-admin-panel-content">
                <NavLink href="/category">Categories</NavLink>
                <NavLink href="/manufacturer">Manufacturers</NavLink>
            </div>
        </div>
        <NavLink class="navbar-option" href="/login">Login</NavLink>
        <NavLink class="navbar-option" href="/">Logout</NavLink>
    </ul>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}