@page "/category"
@using ECommerce.Client.ViewModels
@using ECommerce.Client.Services
@using ECommerce.Client.Contracts

<div class="entity-list-container">
    <h1 class="entity-name">Categories</h1>

    <div class="entity-add-container">
        <InputText
            class="entity-add"
            placeholder="✍️ Add Category"
            @bind-Value="@NewCategory.CategoryName"/>

        <button class="entity-add-button" @onclick="HandleAddNewCategory">+</button>
    </div>
    
    <ul class="entity-list">
        @foreach (var category in Categories)
        {
            <li class="entity-list-item">
                <p class="entity-list-item-name">@category.CategoryName</p>
                <button class="entity-list-item-delete-button">❌</button>
            </li>
        }
    </ul>
</div>

@code {
    string error { get; set; }

    private List<CategoryViewModel> Categories = [];

    [SupplyParameterFromForm]
    private CategoryViewModel NewCategory { get; set; }

    [Inject]
    public ICategoryDataService CategoryDataService { get; set;} 

    protected override void OnInitialized() => NewCategory = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Categories = await CategoryDataService.GetCategoriesAsync();
        }
        catch (Exception e)
        {
            error = e.Message;
        }

    }

    private async void HandleAddNewCategory()
    {

        try
        {
            await CategoryDataService.CreateCategoryAsync(NewCategory);
            Categories.Add(NewCategory);
            NewCategory = new();
        }
        catch (Exception e)
        {
            error = e.Message;
        }
    } 
}