@page "/login"
@using ECommerce.Client.ViewModels
@inject NavigationManager navigationManager

<div class="login-container">
    <header class="login-header">
        <h1 class="login-header-title">Log In</h1>
    </header>
    <form 
        class="login-form" 
        method="post" 
        @onsubmit="SubmitLogin">
        <InputText 
            class="login-form-input" 
            placeholder="E-Mail" 
            @bind-Value="Model.Email" />
        <InputText 
            class="login-form-input" 
            placeholder="Password" 
            type="password"
            @bind-Value="Model.Password" />
        <label class="text-danger">@error</label>
        <button class="login-form-button">Login</button>
    </form>
    <span @onclick="RedirectToRegisterPage" class="redirect-to-create-account">No account? <br> Click here to create one</span>
</div>

@* To be deleted *@
<span>Email is: @Model.Email</span> 
<span>Password is: @Model.Password</span>

@code {
    string error { get; set; }
    
    [SupplyParameterFromForm]
    public LoginViewModel Model { get; set; }

    protected override void OnInitialized() => Model = new();
    
    private void SubmitLogin()
    {
        if (!Model.IsCompleted())
        {
            error = "Complete empty fields";
            return;
        }

        error = "";
        try
        {
            // Implement User Login here
        }
        catch (Exception e)
        {
            error = e.Message;
        }
    }
    
    private void RedirectToRegisterPage() => navigationManager.NavigateTo("/register");
}